<div class="container">
  <button class="btn btn-sm btn-success"
          (click)="navigate()">
    Create
  </button>
  <div class="row">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Brand</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of products; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>{{product.brand}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
