<div class="container">
  <button class="btn btn-sm btn-success" (click)="navigate()">
    Create
  </button>
  <div class="row">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Brand</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Belt</td>
        <td>120</td>
        <td>Nike</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
